@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.gio-nam-font {
    font-family: 'Noto Serif', serif;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.homepage-hero-banner {
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../../assets/gio-nam-hero-banner.png");
    background-attachment: fixed;
    background-color: black;
}

.homepage-hero-banner h1 {
    /* Text styles */
    font-size: 5vw;
}

.homepage-hero-banner h2 {
    /* Text styles */
    font-size: 2.5vw;
    margin-top: -25px;
}

.homepage-hero-banner h3 {
    /* Text styles */
    font-size: 1.5vw;
}

.homepage-hero-text {
    color: white;    
}

.welcomeButton:hover {
    color: #f5deb3;
}

.welcome-container {
    width: 100%;
    min-height: 50vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#eeeeee;
}

.left-column {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    margin-right: 2%;
}
 .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 90%;
    width: 50%;
    margin-right: 5.208vw;
 }

.welcome-header {
    font-size: 40px;
}

.welcome-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 17px;
}
.welcome-button {
    width: 50%;
}